@import '../../../styles/style.scss';

.btn {
  display: flex;
  padding: 8px 136px;
  border-radius: 48px;

  @include Body1-Med;
}

.btnGreen100 {
  background-color: $green-100;
  color: $white;
}

.btnGreen10 {
  background-color: $green-10;
  color: $green-100;
}

.btnWhite {
  background-color: $white;
  color: $green-100;
  border: 1px solid $green-100;
}
