@import '../../styles/style.scss';

.container {
  padding: 56px 310px 450px 310px;
  @include Large;
  color: $gray-10;
  display: flex;
  flex-direction: column;
  gap: 63px;

  .subContainer {
    display: flex;
    flex-direction: horizontal;
    gap: 24px;
  }
}
