$green-100: #58df6d;
$green-70: #6de280;
$green-50: #91eea0;
$green-30: #aaf4b6;
$green-10: #ddfde3;

$orange: #ff7d27;
$orange-light: #ffdfca;
$yellow: #ffed46;
$yellow-light: #fffcdb;

$white: #ffffff;
$black: #000000;
$gray-100: #373d49;
$gray-70: #7b7b7b;
$gray-50: #a0a0a0;
$gray-30: #e6e6e6;
$gray-10: #f2f2f2;
$gray-0: #f8f8f8;
