$main-1: #289bd4;
// $main-2: #235b9e;
// $main-3: #064693;
// $main-4: #0d3c54;
// $main-5: #202224;
// $background: #f0f4f7;

$white: #ffffff;
$black: #000000;
$gray-1: #373d49;
$gray-2: #7b7b7b;
$gray-3: #909090;
$gray-4: #a0a0a0;
$gray-5: #e6e6e6;
$gray-6: #f2f2f2;
$gray-7: #f8f8f8;
