@mixin Large {
  font: {
    family: 'Pretendard-Bold';
    size: 38px;
  }
}

@mixin Large2 {
  font: {
    family: 'Pretendard-Bold';
    size: 32px;
  }
}

@mixin Header1-Bold {
  font: {
    family: 'Pretendard-Bold';
    size: 24px;
  }
}

@mixin Header1-Med {
  font: {
    family: 'Pretendard-Medium';
    size: 24px;
  }
}

@mixin Header2-Bold {
  font: {
    family: 'Pretendard-Bold';
    size: 20px;
  }
}

@mixin Header2-Med {
  font: {
    family: 'Pretendard-Medium';
    size: 20px;
  }
}

@mixin Body1-Med {
  font: {
    family: 'Pretendard-Medium';
    size: 16px;
  }
  line-height: 180%;
}

@mixin Body1-Reg {
  font: {
    family: 'Pretendard-Regular';
    size: 16px;
  }
  line-height: 180%;
}

@mixin Body2-Med {
  font: {
    family: 'Pretendard-Medium';
    size: 14px;
  }
}

@mixin Body2-Reg {
  font: {
    family: 'Pretendard-Regular';
    size: 14px;
  }
}

@mixin Small {
  font: {
    family: 'Pretendard-Regular';
    size: 12px;
  }
}
