@import '../../styles/style.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 640px;
  white-space: nowrap;

  .label {
    color: $gray-100;
    @include Large2;
  }

  .subContainer {
    height: 456px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    border: 1px solid var(--Gray-30, #e6e6e6);
    background: var(--White, #fff);
  }

  .topInfoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
  }

  .topInfoItem {
    @include Header2-Med;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 36px;
  }
}
