@import '../../styles/style.scss';

.container {
  padding: 56px 310px 450px 310px;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.title {
  @include Large2;
  color: $gray-100;
}

.exerciseList {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 0px 23px;
}

.exercise {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
}
